name: unit-tests

on:
  push:
    branches: [ master ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Build ThingsBoard
        run: mvn clean package -DskipTests
        
      - name: Run rule-engine-api module tests
        run: cd rule-engine && mvn test -pl rule-engine-api -Duser.timezone=UTC && cd ..
      